@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);

.advantages-block .advantages-icon, .footer-soc-icon .footer-soc {
	background: url(images/sprites.png) no-repeat;
}

.team-soc .team-icon {
	background: url(images/team-sprites.png) no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

nav {
  width: 1170px;
  height: 65px;
  margin: 0 auto;
  position: relative;
  padding: 35px 0 0 0;
  border-bottom: 1px solid #fff;
}
nav .logo {
  float: left;
}
nav ul {
  float: right;
  margin: 10px 0 0 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 40px 0 0;
}
nav ul li:last-child {
  margin: 0;
}
nav ul li a {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  letter-spacing: .8px;
  text-transform: uppercase;
}
nav ul li a:hover {
  border-bottom: 1px solid #fff;
}

header {
  background: url(images/header-fon.png) no-repeat;
  background-size: cover;
  min-height: 750px;
}
header h1 {
  font-family: 'Open Sans', sans-serif;
  width: 900px;
  margin: 0 auto;
  color:  #ffffff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 71px;
  text-align: center;
  position: relative;
  top: 120px;
}
header p {
  font-family: 'Raleway', sans-serif;
  width: 850px;
  margin: 0 auto;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 33px;
  text-align: center;
  position: relative;
  top: 120px;
}
header button {
  font-family: 'Raleway', sans-serif;
  color:  #ffffff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  background-color: #e84545;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15.5px 43px;
  margin: 0 auto;
  display: table;
  position: relative;
  top: 200px;
  border: 0;
  cursor: pointer;
}
header a.header-button:hover {
  background-color: #E89F45;
}

.advantages {
  padding: 5% 0;
}
.advantages-center {
  width: 1170px;
  margin: 0 auto;
  padding: 5% 0;
}
.advantages-block {
  width: 310px;
  display: inline-block;
  position: relative;
  padding: 0 35px;
  margin-top: 75px;
}
.advantages-block:nth-child(1), .advantages-block:nth-child(2), .advantages-block:nth-child(3) {
  margin-top: 0;
}
.advantages-block .advantages-icon {
  display: block;
  margin: 0 auto;
}
.advantages-block:nth-child(1) .advantages-icon {
  background-position: 0 0;
  width: 60px;
  height: 60px;
}
.advantages-block:nth-child(2) .advantages-icon {
  background-position: -100px 0;
  width: 73px;
  height: 60px;
}
.advantages-block:nth-child(3) .advantages-icon {
  background-position: -227px 0;
  width: 41px;
  height: 60px;
}
.advantages-block:nth-child(4) .advantages-icon {
  background-position: -319px 0;
  width: 56px;
  height: 60px;
}
.advantages-block:nth-child(5) .advantages-icon {
  background-position: -410px 0;
  width: 72px;
  height: 60px;
}
.advantages-block:nth-child(6) .advantages-icon {
  background-position: -510px 0;
  width: 79px;
  height: 60px;
}
.advantages-block span {
  display: block;
  text-align: center;
}
.advantages-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin: 35px 0 30px 0;
}
.advantages-block p {
  color: #6c7279;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.photos {
  min-height: 700px;
}
.photos-block {
  height: 350px;
  display: block;
  width: 25%;
  float: left;
}
.photos-block img {
  float: left;
  width: 100%;
  height: 100%;
}
.photo-test {
  float: left;
}
.photo-hover:hover .photo-test {
  background: rgba(232, 69, 69, 0.9);
  width:25%;
  height:350px;
  position: absolute;
}
.photo-hover {
  width: 100%;
  height: 100%;
  margin: 0;
}
.photo-hover:hover {
  
}
.photo-hover .photos-title {
  color:  #fff;
  font-size: 14px;
  font-weight: 700;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  display: none;
  margin: 100px 0 0 0;
  position: absolute;
}
.photo-hover:hover .photos-title {
  display: block;
}
.photo-hover p {
  position: absolute;
  width: 25%;
  text-align: center;
  color: #fff;
  margin: 135px 0 0 0;
  display: none;
}
.photo-hover:hover p {
  display: block;
}


.team {
  padding: 5% 0;
}
.team-center {
  width: 1170px;
  margin: 0 auto;
  padding: 5% 0;
}
.team-block {
  width: 270px;
  display: inline-block;
  margin-right: 25px;
}
.team-block:nth-child(4) {
  margin-right: 0;
}
.team-name {
  color:  #2d3033;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin: 35px 0 15px 0;
}
.team-dol {
  color:  #e84545;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 30px 0;
}
.team-block p {
  color:  #6c7279;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.team-soc {
  margin: 30px 0 0 0;
}
.team-soc .team-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.team-soc a:nth-child(1) .team-icon {
  background-position: -100px 0;
}
.team-soc a:nth-child(2) .team-icon {
  background-position: 0 0;
}
.team-soc a:nth-child(3) .team-icon {
  background-position: -50px 0;
}

footer {
  
}
.footer-level1 {
  background-color: #3a3e64;
  color: #fff;
  padding: 2% 0;
}
.footer-soc-icon {
  width: 130px;
  margin: 0 auto;
  margin-top: 15px;
}
.footer-soc-icon .footer-soc {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.footer-soc-icon a:nth-child(1) .footer-soc {
  background-position: 0 -100px ;
}
.footer-soc-icon a:nth-child(2) .footer-soc {
  background-position: -50px -100px ;
}
.footer-soc-icon a:nth-child(3) .footer-soc {
  background-position: -100px -100px ;
}

.footer-block {
  width: 370px;
  display: inline-block;
  margin: 0 25px 0 0;
}
.footer-block:nth-child(1) {
  width: 170px;
  padding: 0 100px;
}
.footer-block address {
  font-style: normal;
  text-align: center;
}
.footer-block:nth-child(3) {
  margin: 0;
}

.footer-level2 {
  background-color: #313454;
  min-height: 100px;
  color: #808080;
}
.footer-copy {
  text-align: center;
  position: relative;
  top: 30px;
}
.footer-copy:nth-child(2) {
  margin-top: 5px;
}
.footer-copy a {
  color: #fff;
  text-decoration: none;
}
.footer-copy a:hover {
  text-decoration: underline;
}

.footer-cont {
  width: 1170px;
  margin: 0 auto;
}
.footer-level1 .footer-cont {
  display: flex;
  padding: 3% 0;
}
footer .footer-level1 span {
  text-align: center;
  display: block;
  margin: 15px 0 15px 0;
}
.footer-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.footer-block p {
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
}